<h1> Pick A Genre </h1>

<%= link_to "Or Create One", new_genre_path %> <br><br>


<% @genres.each do |g| %>
    <%= link_to g.name, genre_animes_path(g)%>

    <ul class="center"><% g.animes.each do |anime| %>
    
    <li><%= anime.title %></li>
    <% end %>

    </ul>
    
<% end %>
