<h1> User#Show </h1>
<br> Is this page necessary? 

<h2> Welcome <%= @user.username %> </h2>


Username: <%= @user.username %> <br><br>
Email: <%= @user.email %><br><br>



<%= button_to "Log Out", logout_path %><br>

(add edit button later)<br>
(delete? )