<h1>Animes#index</h1>
<p>Find me in app/views/animes/index.html.erb</p>


<%# can put in helper%>
<%if @genre %>
   <h4> All Anime Of <%= @genre.name %> Genre: </h4> <br>
<% end %>
<% if @user %>
    <h4> <%= @user.username %>'s Anime List: </h4> <br>
<% end %> <br>

<% @animes.each do |a| %>
    <%= link_to a.title, anime_path(a)%><br>
    
<% end %>



  

