<h1>Animes#index</h1>
<p>Find me in app/views/animes/index.html.erb</p>


<%# can put in helper%>
<%if @genre %>
    All Anime Of <%= @genre.name %> Genre: <br>
<% end %>
<% if @user %>
    <%= @user.username %>'s Anime List: <br>
<% end %> <br>

<% @animes.each do |a| %>
    <%= link_to a.title, anime_path(a)%><br>
    
<% end %>



  

<h4> All Animes Listed in <%= genre_name %>: </h4>