

<%# can put in helper%>
<%if @genre %>
   <h4> All Anime Of <%= @genre.name %> Genre: </h4> <br>
<% end %>
<% if @user %>
    <h4> <%= @user.username %>'s Anime List: </h4> <br>
<% end %> <br>

<ul class="center"><% @animes.each do |a| %>
    <%= link_to a.title, anime_path(a)%><br>
 
<% end %>

</ul>  

  

