<h1>Animes#new</h1>
<p>Find me in app/views/animes/new.html.erb</p>


<h1> Add Your Favorite Anime/Cartoon! </h1>


<%= render partial: 'layouts/errors', locals: {object: @anime}  %>
<%= render partial: 'form' %>
